.community__banner {
    display: flex;
    background-color: #ff5252;
    color: #fff;
    padding: 6px;
    align-items: center;
}

.community__banner-image {
    width: 50px;
    margin-left: 10px;
}

.community__banner-text {
    font-size: 18px;
    margin: auto 0;
    padding-left: 10px;
    width: 70%;
}

.community__inline-btn {
    background-color: #eee !important;
    font-weight: bold !important;
    padding: 8px 10px !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

.community__button {
    background-color: rgb(168, 36, 85) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}