.sidebar-home-container {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.image {
    background-image: url('https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png');
    width: 100%;
    height: 50px;
}

.siderbar-home-text {
    font-size: 14px;
}