.ad-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0px;
    border-radius: 3px;
    margin-top: 20px;
}

.ad-title {
    font-size: 12px;
}

.ad-banner {
    text-align: center;
    margin-bottom: 10px;
}