.create-post-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #eaeaea;
}

.create-post-input {
    box-shadow: none !important;
}

.create-post-input-container {
    flex: 1;
}

.create-post-image-icon,
.create-post-reddit-icon,
.create-post-link-icon {
    color: #ccc;
}

.create-post-image-icon,
.create-post-reddit-icon {
    margin: 0 20px;
}

.create-post-reddit-icon {
    font-size: 40px !important;
}

@media only screen and (max-width: 667px) {
    .create-post-container {
        margin-top: 86px;
    }
}