.votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 35px;
}

.votes__count {
    font-size: 13px;
}

@media only screen and (max-width: 667px) {
    .votes {
        padding: 0;
    }
    .votes__count {
        font-size: 12px;
    }
}