@font-face {
    font-family: 'Reddit-Font';
    src: url('./assets/fonts/reddit.otf');
}

* {
    font-family: 'Reddit-Font', Arial, sans-serif;
}

body,
html {
    background-color: #dae0e6;
}

.app-wrapper {
    display: flex;
    background-color: #dae0e6;
    justify-content: space-between;
    margin-top: 50px;
}

@media only screen and (max-width: 667px) {
    .app-wrapper {
        display: block;
    }
}