.sidebar {
    width: 270px;
    height: 100vh;
    position: fixed;
    overflow: scroll;
}

.list-heading {
    color: #999;
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: 10px;
}

@media only screen and (max-width: 667px) {
    .sidebar {
        display: none;
    }
}